body {
    font-family: "Work Sans", sans-serif;
    color: #fff;
}

.current-year {
    padding: 0.5%;
    padding-top: 1%;
}

.current-year h1 {
    text-align: center;
}

.row {
    width: 100%;
}

.drivers {
    height: 60vh;
    overflow-y: scroll;
    padding-right: 2%;
}

.driver {
    margin-top: 2%;
    padding: 1%;
    border-radius: 5px;
    transition: 0.3s;
}

.teams-table-div {
    height: 60vh;
    overflow-y: scroll;
    padding-right: 2%;
}

.tracks {
    padding: 2%;
}

.all-tracks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.track {
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    transition: 0.3s;
    padding: 4%;
    color: #fff;
    border: none;
}

.track:hover {
    background-color: rgb(17, 17, 17);
    cursor: pointer;
    transition: 0.3s;
}

.modal {
    font-family: "Roboto", sans-serif;
}