{{template "base" .}}

{{define "title"}}
    Home
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/home.css.css">
{{end}}

{{define "content"}}
    <div class="current-year">
        <h1>2024 Stats</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 drivers-div">
                <h2 style="text-align: center;">Drivers Championship</h2>
                <div class="drivers">
                    {{$drivers := index .Data "currentDrivers"}}
                    {{range $driver := $drivers}}
                        <style>
                            #driver-{{$driver.ID}}:hover {
                                transform: scale(0.99);
                                cursor: pointer;
                                transition: 0.3s;
                                background-color: {{$driver.TeamColor}};
                            }
                        </style>
                        <div class="driver" style="border: 3px solid {{$driver.TeamColor}};" id="driver-{{$driver.ID}}">
                            <h5>{{$driver.Position}}. <span style="color: rgb(150, 150, 150);">#{{$driver.Number}}</span> {{$driver.Name}}</h5>
                            <h6>{{$driver.Points}} points</h6>
                            <h6>{{$driver.Team}}</h6>
                        </div>
                    {{end}}
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 style="text-align: center;">Constructors Championship</h2>
                {{$teams := index .Data "currentTeams"}}
                <div class="teams-table-div">
                    <table class="table table-dark table-striped-columns table-hover">
                        <thead>
                            <td>Position</td>
                            <td>Name</td>
                            <td>Drivers</td>
                            <td>Points</td>
                        </thead>
                        {{range $team := $teams}}
                            <tr>
                                <td>{{$team.ConstructorsPosition}}</td>
                                <td><img src="{{$team.LogoLink}}" alt="{{$team.Name}}" width="30"> {{$team.Name}}</td>
                                <td>{{$team.Drivers}}</td>
                                <td>{{$team.TotalPoints}}</td>
                            </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        </div>

        <div class="tracks">
            <h2 style="text-align: center;">Tracks</h2>
            {{$tracks := index .Data "currentTracks"}}
            <div class="all-tracks" style="margin-top: 1%;">
                {{range $track := $tracks}}
                    <div class="modal fade" id="trackModal-{{$track.ID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content text-bg-dark">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{$track.Name}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{$track.Image}}" alt="{{$track.Name}}" style="width: 100%; border-radius: 10px;">
                                <h5 style="margin-top: 3%;">Length: <span style="font-weight: 350;">{{$track.Length}} km</span></h5>
                                <h5>Number of Corners: <span style="font-weight: 350;">{{$track.NumberCorners}}</span></h5>
                                <h5>Number of Straights: <span style="font-weight: 350;">{{$track.NumberStraights}}</span></h5>
                                <h5>Number of DRS Zones: <span style="font-weight: 350;">{{$track.NumberDRSZones}}</span></h5>
                                <h5>Year Joined F1: <span style="font-weight: 350;">{{$track.Year}}</span></h5>
                                <h5>Country: <span style="font-weight: 350;">{{$track.Country}}</span></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <button class="track" data-bs-toggle="modal" data-bs-target="#trackModal-{{$track.ID}}">
                        <div style="margin-top: 1%;">
                            <h5>{{$track.Name}}</h5>
                        </div>
                    </button>
                {{end}}
            </div>
        </div>
    </div>
{{end}}